$blue:   #30A2D1;
$orange: #f16529;
$yellow: #f0db4f;

$base-font-size:    16px!default;
$base-line-height:  24px!default;
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;

@import 'core/reset';
@import 'core/typography';
@import 'core/grid';
@import 'core/media-query';

@import 'ui/icons'
        ,'ui/head'
        ,'ui/logo'
        ,'ui/main'
        ,'ui/about'
        ,'ui/project'
        ,'ui/contact'
        ,'ui/qrcode'
        ,'ui/social'
        ,'ui/skill'
        ,'ui/foot';

body {
  background-color:$blue;
}

a {
  color:$blue;
  text-decoration:none;

  &:hover {
      color:darken($blue, 10%);
  }
}

// Define the spacing sizes you want to use
$spacing-sizes: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
);

// Define the margin and padding classes
@mixin margin-and-padding-classes {
  // Margin classes
  @each $size, $value in $spacing-sizes {
    .m-#{$size} {
      margin: $value;
    }
    .mt-#{$size} {
      margin-top: $value;
    }
    .mb-#{$size} {
      margin-bottom: $value;
    }
    .ml-#{$size} {
      margin-left: $value;
    }
    .mr-#{$size} {
      margin-right: $value;
    }
    .mx-#{$size} {
      margin-left: $value;
      margin-right: $value;
    }
    .my-#{$size} {
      margin-top: $value;
      margin-bottom: $value;
    }

    // Padding classes
    .p-#{$size} {
      padding: $value;
    }
    .pt-#{$size} {
      padding-top: $value;
    }
    .pb-#{$size} {
      padding-bottom: $value;
    }
    .pl-#{$size} {
      padding-left: $value;
    }
    .pr-#{$size} {
      padding-right: $value;
    }
    .px-#{$size} {
      padding-left: $value;
      padding-right: $value;
    }
    .py-#{$size} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }
}

@include margin-and-padding-classes;
