.about {
  & > :last-child {
    margin-bottom:0;
  }
}

.about__img {
  border: 4px solid #000000;
  border-right: 4px solid $blue;
  box-sizing: border-box;
  margin-right:$base-spacing-unit;
  margin-bottom:$base-spacing-unit;

  @include media-query(lap) {
    float:left;
  }
}

.about__me {
  font-weight:400;
}
