.logo {
  font-size:3em;
  font-weight:800;
  line-height:1;
  margin-bottom:($base-spacing-unit * 2) + ($half-spacing-unit / 2);
  text-align:center;

  @include media-query(lap) {
    font-size:4em;
  }
}

.logo__for {
  background-color:$blue;
  color:#fff;
}

.logo__icon {
  position:relative;
  top:5px;
}
