.main {
    background-color:#FFF;
    color:#333;
    padding:($base-spacing-unit * 2) 0;
}

.main--dark {
    background-color:#1d2122;
    color:#fff;
}

.main--blue {
    background-color:#30a2d1;
    color:#fff;
}
